<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/essentialsHead.ejs')%>
    <%-include('./partials/MDB-GoogleFonts.ejs')%>
    <%-include('./partials/font_awesome.ejs')%>
    <style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 2vh;
        }

        .alert.success {background-color: #04AA6D;}
        .alert.info {background-color: #2196F3;}
        .alert.warning {background-color: #ff9800;}

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
    </style>
</head>

<body class="bg-light">

    <%-include('./partials/navbar.ejs')%>
    <% if(message){ %> 
        <% if (messageTheme === 'warning') {%> 
            <div class="alert warning" >
                <span class="closebtn" onclick="this.parentElement.style.opacity = '0'; setTimeout(() => { this.parentElement.style.display = 'none';}, 600);">&times;</span>  
                <h6 class="fw-bold text-center"> <%= messageContent %> </h6>
            </div>
        <% }else if(messageTheme === 'success'){ %>
                <div class="alert success" >
                    <span class="closebtn" onclick="this.parentElement.style.opacity = '0'; setTimeout(() => { this.parentElement.style.display = 'none';}, 600);">&times;</span>  
                    <h6 class="fw-bold text-center"> <%= messageContent %> </h6>
                </div>
            <% } else{%>  
                    <div class="alert" >
                        <span class="closebtn" onclick="this.parentElement.style.opacity = '0'; setTimeout(() => { this.parentElement.style.display = 'none';}, 600);">&times;</span>  
                        <h6 class="fw-bold text-center"> <%= messageContent %> </h6>
                    </div>
                <% }; %> 
    <% }; %> 
    <section style="min-height: 100vh; margin-bottom: 15vh;">
        <div class="container p-5">
            <div class="row">
                <div class="col-md-9">
                    <h4>Welcome, <br>Dr. <%= user.name  %></h4>
                </div>
                <div class="col-md">
                    <button class="btn btn-primary btn-lg d-inline-block" data-mdb-toggle="modal"
                    data-mdb-target="#quickRecordModal">Quick Record</button>
                    <div class="dropdown d-inline-block">
                        <button class="btn btn-lg" type="button" data-mdb-toggle="dropdown" aria-expanded="false" style="background-color: #686868;"><i class="fa fa-cog text-light" aria-hidden="true"></i></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li class="dropdown-item fw-bold text-muted" data-mdb-toggle="modal" data-mdb-target="#exportAllModal"
                                style="cursor: pointer;" onclick="">Export All Attendance</li>
        
                            <li class="dropdown-item fw-bold text-danger" style="cursor: pointer;" onclick="location.replace('/logout')">Log out</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 4vh;">
                <div class="col">
                    <h3 class="display-5 text-center">Courses</h3>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <form method="GET" action="/course">
                        <div class="input-group d-flex justify-content-center">
                            <div class="form-outline">
                                <input class="form-control text-uppercase" type="search" name="searchCourse" id="searchCourse"/>
                                <label class="form-label" for="searchCourse">Search</label>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container" style="margin-top:10vh;">
                <div class="row mt-2">
                    <% let imgCounter = 0; %> 
                    <% let redirect = ''; %> 
                    <% for(let i = 0; i < courses.length; i++) {%>
                        <% (imgCounter > 15) ? imgCounter = 0: imgCounter++;%> 
                        <% redirect = "location.assign('/course/" + courses[i].courseID +"')"  %> 
                        <div class="col-4 p-5"> 
                            <div class="card text-center">
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                    <img src=<%= "img/"+imgCounter+".webp" %>  class="img-fluid"/>
                                    <span onclick=<%= redirect %>  style="cursor: pointer;">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                    </span>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title" onclick=<%= redirect %>  style="cursor: pointer;"><%= courses[i].courseID %> </h5>
                                </div>
                            </div>
                        </div>
                     <% } %>
                </div>
            </div>
  
        </div>
    </section>

    <!-- quick record modal -->
    <div class="modal fade" id="quickRecordModal" tabindex="-1" aria-labelledby="quickRecordModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content px-5 pb-3">
                <div class="modal-header d-flex justify-content-center">
                    <h5 class="modal-title">Quick Record</h5>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/quickRecord">
                        <div class="form-outline mb-2">
                            <input type="text" name="courseID" id="courseID" class="form-control" placeholder='Ex: ITCE101-1' required/>
                            <label class="form-label" for="courseID">CourseID - Section</label>
                        </div>
                        <div class="form-outline mb-2">
                            <input type="number" name="stID" id="stID" class="form-control" placeholder='Ex: 20186030' required/>
                            <label class="form-label" for="stID">Student ID</label>
                        </div>
                        <div class="mt-2 mb-2">
                            <input type="date" id="date" name="date" required>
                        </div>
                        <div class="mt-4 d-flex justify-content-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="choice" id="Attendant" value="Attendant" checked/>
                                <label class="form-check-label" for="Attendant">Attendant</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="choice" id="Absent" value="Absent" />
                                <label class="form-check-label" for="Absent">Absent</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center" style="margin-top: 8vh;">
                            <button type="submit" class="btn btn-lg btn-primary">Record</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- export all modal -->
    <div class="modal fade" id="exportAllModal" tabindex="-1" aria-labelledby="exportAllModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content px-5 pb-3">
                <div class="modal-header d-flex justify-content-center">
                    <h5 class="modal-title">Export All Attendance</h5>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="my-2 fw-bold text-muted">
                            <label class="me-2" for="fromDate">From: </label>
                            <input type="date" id="fromDate" name="fromDate" required>
                        </div>
                        <div class="my-2 fw-bold text-muted">
                            <label class="me-2" for="toDate">To: </label>
                            <input type="date" id="toDate" name="toDate" required>
                        </div>
                        <div class="my-3 fw-bold text-muted">
                            <label class="me-2" for="format">Format: </label>
                            <div class="btn-group" id="format">
                                <input type="radio" class="btn-check" name="options" id="JSON" autocomplete="off" checked />
                                <label class="btn btn-light" for="JSON">JSON</label>
                              
                                <input type="radio" class="btn-check" name="options" id="EXCEL" autocomplete="off" />
                                <label class="btn btn-light" for="EXCEL">EXCEL</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center" style="margin-top: 8vh;">
                            <button type="submit" class="btn btn-lg btn-primary">Export</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer & MDB CDN -->
    <%-include('./partials/footer&MDB.ejs')%>
</body>
</html>